/* grid start */
* {
  box-sizing: border-box;
}

.grid-row {
  margin-left: -10px;
  margin-right: -10px;
}

.grid-row:after,
.grid-row:before {
  content: "";
  display: table;
}

.grid-row:after {
  clear: both;
}

.grid-row .grid-col {
  padding-left: 10px;
  padding-right: 10px;
}

.grid-row .grid-col-12 {
  width: 100%;
}

.grid-row .grid-col-9 {
  width: 75%;
}

.grid-row .grid-col-8 {
  width: 66.66%;
}

.grid-row .grid-col-6 {
  width: 50%;
}

.grid-row .grid-col-4 {
  width: 33.33%;
}

.grid-row .grid-col-3 {
  width: 25%;
}

.grid-row .grid-col-2 {
  width: 16.66%;
}

.grid-row .grid-col-1 {
  width: 8.33%;
}
/* grid end */

.section-wrapper {
  padding: 0 12px;
}

body {
  background: #e5e5e5;
}

* {
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

.main-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
}

h1,
h2,
h3 {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
}

h1 {
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 1px;
}

h2,
h3 {
  text-align: justify;
  text-align: center;
}

h2 {
  color: #003860;
}

.about-us-heading {
  margin: 9px;
}

.services-heading {
  color: #fff;
  margin: 0 0 15px 0;
}

h3 {
  font-weight: bold;
  font-size: 36px;
  margin: 7px;
}

.main-entera {
  color: #fff;
  position: relative;
  background: #003860;
  height: 120px;
  text-align: none;
}

.main-entera h1 {
  text-align: center;
}

.main-entera p {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.about-us-wrapper,
.services-wrapper {
  font-size: 16px;
  padding: 0 12px 0 12px;
}
.services-wrapper {
  background-color: #003860;
  color: #fff;
}

.services-last-paragraph {
  margin-bottom: 0px;
}
.services-wrapper a {
  color: #fff;
}

/* clearfix foor wrappper .clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.grid {
  box-sizing: border-box;
  padding: 20px;
  float: left;
  width: 33.33%;
}

.grid p {
  font-size: 14px;
}

img {
  margin: 0 auto;
  display: block;
}

.open-door-image {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.map-container {
  width: calc(100% - 10px);
  height: 300px;
}

.icons-styles {
  margin: 0 10px;
  color: #003860;
}

.contact-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

a {
  color: #003860;
}
.skew-c {
  width: 100%;
  height: 50px;
  background: linear-gradient(to left bottom, #fff 49%, #003860 50%);
}

.skew-cc {
  width: 100%;
  height: 50px;
  background: linear-gradient(to right bottom, #003860 49%, #fff 50%),
    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

.italic {
  font-style: italic;
}

.team-member-summary-read-more {
  display: none;
}

.show-more-info {
  display: none;
}

.team-member-summary {
  position: relative;
  padding-bottom: 3.188em;
  display: flex;
  flex-direction: column;
}

.show-more-info-label {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 1em 2em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #003860;
  min-width: 64px;
  height: 48px;
  border: none;
  border-radius: 4px;
  transition: box-shadow 0.2s;
  align-self: center;
}

.show-more-info-label:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.show-more-info-label::before {
  content: "Opširnije";
}

.show-more-info:checked ~ .team-member-summary-read-more {
  display: block;
}

.show-more-info:checked + .show-more-info-label:before {
  content: "Ukratko";
}

.team-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  flex: 0 0 300px;
  margin-right: 10px;
}

@media only screen and (min-width: 740px) {
  .team-member {
    flex: 0 0 350px;
  }
}

@media only screen and (max-width: 1370px) {
  .grid-row .grid-col-3 {
    width: 33.33%;
  }
}

@media only screen and (max-width: 980px) {
  .grid-row .grid-col-3 {
    width: 50%;
  }
}

@media only screen and (max-width: 691px) {
  .grid-row .grid-col-3 {
    width: 100%;
  }
}

@media only screen and (max-width: 614px) {
  .open-door-image {
    width: 70px;
    height: 70px;
  }
}
